.button {
  cursor: pointer;
  display: block;
  color: $inverted-font-color;
  padding: 6px 16px;
  min-width: 120px;
  background: $highlight-color;
  border: none;
  border-radius: 2px;
  transition: 0.4s ease-in;


  &__text {
    color: $inverted-font-color; 
  }

  &:hover {
    background: $highlight-color-3;
  }

  &:focus {
    outline: none;
    background: $highlight-color-3;
  }

  &:active {
    outline: none;
    background: $highlight-color-2;
  }

  &:disabled {
    @include disabled;
    background: transparent;
    color: $hinted-color;
  }

  &--cancellation {
    color: $main-font-color;
    background: transparent;
    &:hover {
      color: $hinted-color  ;
      background: transparent;
    }
  }
}