@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans Semibold';
    src: url('OpenSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }