.form {

  &__input {
    width: 100%;
    padding: 7px 10px; 
    background: $inverted-font-color;
    border: 1px solid $hinted-color; 
    border-radius: 2px;

    &::placeholder {
      color: $main-font-color;
    }

    &:focus {
      @include focus;
    }

    &:active {
      outline: 0;
      outline-offset: 0;
      border: 1px solid $highlight-color;
    }

    &:invalid {
      border: 1px solid $error-color;
    }

    &:disabled {
      @include disabled;
    } 
  }
  

  &__label {
    display: block;
    color: $main-font-color;
    font-size: $secondaryFontSize;
    margin-bottom: 4px;

    &:invalid {
      color: $error-color;
    }

    &:focus {
      color: $highlight-color;
    }

    &:disabled {
      color: $black-light-color;
    }
  }

  &__group {
    margin-bottom: 20px;
  }

  &__grid {
    justify-content: space-between;
    @include row($grid-gutter-width, 10px, 12px, 26px, 28px, 25px);
  }

  &__cell {
    @include col(md, 6, $grid-columns, 12px); 
    @include col(lg, 6, $grid-columns, 26px); 
    @include col(xl, 6, $grid-columns, 25px);
  }

  &__button-wrap {
    display: flex;
  } 
  
  &__suggestion {
    display: flex;

    &-descr {
      display: block;
      margin-left: 13px;
      margin-top: -2px;
    }
  }

  &__link {
    display: block;
    color: $highlight-color;
  }

  &__checkbox {
    height: 13px;
    width: 13px;
    position: relative;
    cursor: default;
    background: none;
    border: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &, &:checked, &:focus, &::before, &::after, &:checked::after, &:checked::before, &:hover {
      outline: none;
      outline-color: none;
    }
  
    &:disabled {
      @include disabled;
      background: transparent;
      color: $hinted-color;
    }
  
    &::before {
      content: '';
      cursor: pointer;
      border: 1px solid $border-color;
      height: 13px;
      width: 13px;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
    &:checked::after {
      content: '';
      display: block;
      position: absolute;
      left: 6px;
      top: -4px;
      box-sizing: border-box;
      width: 6px;
      height: 14px;
      border: solid $highlight-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

