.settings-panel__inner {
  width: 500px;
}

.form {

  &__input {
    width: 100%;
    padding: 5px 10px; 
    background: $inverted-font-color;
    border: 1px solid $hinted-color; 
    border-radius: 2px;

    &:placeholder {
      color: $hinted-color;
    }

    &:focus {
      @include focus;
    }

    &:active {
      outline: 0;
      outline-offset: 0;
      border: 1px solid $highlight-color;
    }

    &:invalid {
      border: 1px solid $error-color;
    }

    &:disabled {
      @include disabled;
    }
  }

  &__label {
    font-size: $secondaryFontSize;

    &:invalid {
      color: $error-color;
    }

    &:focus {
      color: $highlight-color;
    }

    &:disabled {
      color: $black-light-color;
    }
  }
}


// select 

.select-dropdown {
	position: relative;
	display: inline-block;
	max-width: 100%;
	margin: 0 15px 0 0;
	
	&::last-child {
		margin-right: 0px;
	}

	&__button {
		padding: 10px 35px 10px 15px;
		background-color: #fff;
		color: #616161;
		border: 1px solid #cecece;
		border-radius: 3px;
		cursor: pointer;
		width: 210px;
		text-align: left;

		&::focus {
			outline: none;
		}

		.zmdi-chevron-down {
			position: absolute;
			right: 10px;
			top: 12px;
		}
	}

	&__list {
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		max-height: 300px;
		overflow: auto;
		margin: 0;
		padding: 0;
    border: 1px solid #cecece;
    border-radius: 2px;
		border-top: 0px solid transparent;
		list-style-type: none;
		opacity: 0;
		pointer-events: none;
		transform-origin: top left;
		transform: scale(1,0);
		transition: all ease-in-out .3s;
		z-index: 2;

		&.active {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1,1);

		}
	}
	&__list-item {
		display: block;
		list-style-type: none;
		padding: 10px 15px;
		background: #fff;
		// border-top: 1px solid #e6e6e6;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		color: #616161;
		text-align: left;
		transition: all ease-in-out .3s;

		&:hover {
			background-color: $highlight-color;
			color: #fff;
			transition: all ease-in-out .3s;
		}
	}
}


// checkbox
.form__checkbox {
  height: 13px;
  width: 13px;
  position: relative;
  cursor: default;
  background: none;
  border: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &, &:checked, &:focus, &::before, &::after, &:checked::after, &:checked::before, &:hover {
    outline: none;
    outline-color: none;
  }

  &:disabled {
    @include disabled;
    background: transparent;
    color: $hinted-color;
  }

  &::before {
    content: '';
    cursor: pointer;
    border: 1px solid $border-color;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 9;
  }
  &:checked::after {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: -4px;
    box-sizing: border-box;
    width: 6px;
    height: 14px;
    border: solid $highlight-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 10;
  }
}

