.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: $panel-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
}