html {
  font-family: 'Open Sans Regular';
  font-size: $pageFontSize;
  color: $main-font-color;
}

body {
  background: $panel-color;
}

.page__inner {
  padding: 0px 15px;
}

.page__content {
  position: relative;
  margin-left: 216px;
  margin-top: 67px;
  border-radius: 2px;
  background: #fff;
  z-index: 15;
}

.general-title {
  font-size: 2rem;
}