.profile-link {

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    font-size: $mainFontSize;
    padding: 0px 10px;
  }

  &:hover  {
    .profile-link-dropdown {
      display: block;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: -25px;
    top: 7px;
    width: 30px;
    height: 30px;
    background: url(/assets/img/down-semibold_icon.svg)no-repeat;
  }

  &__avatar {
    margin: 0px 7px;
    width: 32px;
    height: 32px;
    border-radius: 100%;

    &--lg {
      width: 80px;
      height: 80px;
      margin: 0px;
      margin-right: 1.5rem;
    }
  }

  &__person-data {

  }

  &__name {
    color: $inverted-font-color;
    &--lg {
      color: $main-font-color;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 32px;
    }
  }

  &__company {
    display: block;
    color: rgba(255,255,255,0.64);
    &--lg {
      color: $main-font-color;
      font-size: 1rem;
    }
  }

  &__arrow {
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 7px;
      right: -5px;
      background: url(../../static/img/down-semibold_icon.svg);
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    width: 254px;
    right: 10px;
    top: 55px;
    background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.16);
    border-radius: 2px;
    animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &__inner {
      padding: 7px 24px;
    }

    &__department {
      display: block;
      font-weight: 700;
      color: $hinted-color;
      padding: 9px 0px;
    }

    &__item {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__link {
      color: inherit;
    }

    &__separator {
      width: 100%;
      height: 1px;
      margin: 5px 0px;
      background: $border-color;
    }

    &__logout {
      color: inherit;
    }
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}


