doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="assets/css/style.css")
  body
    .page
      .page__inner
        header.header
          .header__container
            .header__inner
              a.header__logo(href='#')
                img.logo(src='./static/img/logo__legacy_icon.svg' alt='wrike')
              a.profile-link(href='')
                img.profile-link__avatar(src='./static/img/john.jpg' alt='john')
                .profile-link__person-data
                  span.profile-link__name Jhon
                  span.profile-link__company Wrike Team
        aside.sidebar
          .sidebar__inner 
            .sidebar__block
              ul.sidebar__list
                li.sidebar__item.sidebar__title.sidebar__title--personal PERSONAL SETTINGS
                li.sidebar__item
                  a.sidebar__link(href='#') Profile details
                li.sidebar__item
                  a.sidebar__link(href='#') Account info
                li.sidebar__item
                  a.sidebar__link(href='#') Email preferences
                li.sidebar__item
                  a.sidebar__link(href='#') Work schedule
                li.sidebar__item
                  a.sidebar__link(href='#') Password &amp; security
                li.sidebar__item
                  a.sidebar__link(href='#') Apps access
            .sidebar__separator
            .sidebar__block
              ul.sidebar__list
                li.sidebar__item.sidebar__title.sidebar__title--account ACCOUNT MANAGMENT
                li.sidebar__item
                  a.sidebar__link(href='#') Subscription
                li.sidebar__item
                  a.sidebar__link(href='#') Billing
                li.sidebar__item
                  a.sidebar__link(href='#') Users & groups
                li.sidebar__item
                  a.sidebar__link(href='#') Request form builder
                li.sidebar__item
                  a.sidebar__link(href='#') Custom workflows
                li.sidebar__item
                  a.sidebar__link(href='#') Activity reports
                li.sidebar__item
                  a.sidebar__link(href='#') Calendars
                li.sidebar__item
                  a.sidebar__link(href='#') Account settings
                li.sidebar__item
                  a.sidebar__link(href='#') Advanced security
        main.page__content
          block content

    script(src="static/js/libs.min.js")
    script(src="static/js/app.js")

